.wide-container{
    width: 100%;
}


/*this is the container for the background image*/
/*you can control the height and width of this container*/
/*changing values in this class may affect other containers within*/
.parallax-container{
    height: 300px;
}
.parallax{
    /* The image used */
    background-image:url(https://www.hdwallpapers.in/walls/mr_robot_hd_4k_8k-HD.jpg);
    
    width: 100%;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}
/*Div that holds the account name*/
/*You can control the height of the div*/
/*as well as the position*/
.acc-name-bg{
    width: auto;
    height: 40px;
    background-color: #FFF;
    position: absolute;
    bottom: 0px;
    border-top-right-radius: 10px;
}
/*displays the account name*/
/*can edit the font type as well as the size*/
.acc-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #E3BE48;
    font-size: 28px;
}
.acc-name .material-icons{
    font-size: 40px;
}


/*containes all elements under the bg image*/
/*seperate from the background image container for the users name*/
.acc-body{
    width: auto;
    height: 800px;
}

.tab-links{
    font-family: 'Montserrat', sans-serif;
    color: #E3BE48 !important;
    position: absolute;
    right: 20px;
    bottom: 0;
}
/*label for sections on acc page*/
.label{
    font-size: 20px;
}
.acc-body .section{
    margin-top: 20px;
    height: 200px;
}

