/*id's*/

/*search bar editing*/
#search{
    border-color: #FFF;
}



/*Filter container*/
.filter-container{
    width: 100%;
    background-color: #45429E;
    height: auto;
}

.filterLabel{
    font-size: 15px;
    color: white;
}

/*Button color editing for search button*/
.btnColor{
    background-color: #149453;
}

.btnColor:hover{
    background-color: #FFF;
    color: #149453;
}

/*Divider that divides content*/
.divider{
    margin: 2%;
}

/*Collapsible element editing*/
.collapsible-header{
    background-color: #100D65;
    font-size: 18px;
    font-weight: 600;
}

.collapsible-body{
    padding: 1.5%;
}

/*Icon editing*/
.material-icons{
    color: #FFF;
}



/*containes the entirety of the space between the footer and nav*/
.wide-container{
    width: 100%;
}