.image{
    background: url(https://images7.alphacoders.com/671/thumb-1920-671281.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
}

.wide-container{
    width: 100%;
    height: 100%;
}

.c-contact{
    width: 32%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.contact-label{
    font-size: 20px;
}




/*screen width of 768px (Laptop)*/
@media only screen and (max-width: 768px){
/*removes text on contact buttons*/
    .c-contact  .row  .col  .btn{
         
    }
}