.label{
    font-size: 24px;
}

.thread{
    padding: 5% 0;
}



/*
====================   Animation
*/





.collection-item{
    transition: transform 1s;
}

.collection-item:hover{
    transform: translate(100px);
}