.label{
    font-size: 24px;
}

.thread{
    padding: 5% 0;
}


.collection-item:hover{
    animation: slide 1s forwards;
    animation-delay: 200ms;
}

/*
====================   Animation
*/

@keyframes slide {
    50% {transform: translate(100px);}
    100% {transform: translate(50px);}
}