/*
===============================        Body Settings
*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Mukta Mahee', sans-serif;
}
/*
-------------------    Scroll bar settings
*/
body::-webkit-scrollbar {
    width: 0.8em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #323231;
    outline: 1px solid slategrey;
    border-radius: 10px;
}


main {
    flex: 1 0 auto;
}

li a:hover {
    cursor: pointer;
}

/*ID's*/
#search {
    width: 95%;
    padding-left: 5%;
}

/*
======================================       classes
*/

/*
----------------------------       Container
*/
.container{
    height: 100%;
}
.activeNav{
    background-color: #323231;
}


/*
-----------------------------        Nav
*/
nav i.material-icons{
    font-size: 40px; /*this changes the size of the icon on the nav*/
}


/*
---------------------------      Modal styling
*/
.btn.LPink_Text.White_BG:hover{
    background-color: #DC458A !important;
    color: #FFF !important;
}
.modal .btn.LPink_Text.White_BG{
    width: 20%;
    height: 10%;
    padding: 20px;
}
.modal{
    min-height: 80%;
    width: 50%;
}
.modal .modal-content h4{
    letter-spacing: 6px;
    font-weight: 800;
    font-family: 'Montserrat';
}
.modal-close{
    background-color: #0F4174;
}
.modal-close:hover{
    background-color: #0F4E90;
    color: #FFF;
}


/*Max screen size 768px Tablet*/
@media only screen and (max-width: 1024px){
/*ID's'*/
    
/*classes*/
    .modal{
        min-width: 80% !important;
    }
}

/*Max screen size 425px Tablet*/
@media only screen and (max-width: 425px){
/*ID's'*/
    
/*classes*/
    .modal{
        min-width: 95% !important;
    }
}




/*Max screen size 425px Tablet*/
@media only screen and (max-width: 768px){
    .modal .btn.LPink_Text.White_BG{
        width: 30%;
        height: 20%;
        padding: 20px;
    }
}







